@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */
:root {
    --fondo-principal: #0F0F14;
    --tarjeta: #1C1F26;
    --texto-principal: #E6E6E6;
    --texto-secundario: #A4A8B3;
    --texto-deshabilitado: #6C707A;
    --verde-principal: #7CFF8A;
    --verde-oscuro: #3CD964;
    --indicador-debil: #FF4D4F;
    --indicador--media: #FFD666;
    --indicador-fuerte: #52C41A;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: var(--fondo-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}


.main-container {
    height: 700px;
    width: 600px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tittle {
    display: flex;
    justify-content: center;
}

.tittle h2 {
    color: var(--texto-deshabilitado);
    font-weight: 500;
}

/* donde aparece la password */
.place-password {
    background-color: var(--tarjeta);
    height: 80px;
    border-radius: .5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#password {
    color: var(--texto-principal);
    font-size: 2rem;
}

/* icono de copiar password */
.bi-copy {
    color: var(--verde-principal);
    font-size: 1.5rem;
    cursor: pointer;
}

.bi-copy:hover {
    color: var(--verde-oscuro);
}

/* el contenedor que contiene lo demas */
.rest-info{
    background-color: var(--tarjeta);
    height: 500px;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.character-length {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.character-length p {
    color: var(--texto-secundario);
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#length {
    color: var(--verde-principal);
    font-size: 1.4rem;
}

/* slider que le falta js */
.slider {
    position: relative;
    height: 6px;
    cursor: pointer;
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 6px;
    background: #18171f;
    border-radius: 5px;
}

.slider-fill {
    position: absolute;
    height: 6px;
    width: 40%;
    background: #a4ffaf;
    border-radius: 5px;
}

.slider-thumb {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 18px;
    height: 18px;
    background: #e6e5ea;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* checkboxs para agregar a la contraseña segun marcados */
.checkboxs {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.checkboxs div {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--texto-secundario);
    letter-spacing: 1px;
}

.checkboxs input[type="checkbox"] {
    appearance: none;     
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--texto-secundario);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxs input[type="checkbox"]::before {
    content: "✔";
    font-size: 15px;
    color: #000;
    transform: scale(0);
}

.checkboxs input[type="checkbox"]:checked {
    background-color: #a4ffaf;
}

.checkboxs input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.separation {
    width: 100%;
    margin-bottom: 20px;
}

/* dificultad de la contraseña */
.strench {
    background-color: var(--fondo-principal);
    color: var(--texto-secundario);
    font-weight: 700;
    padding: .5rem 2rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.dificult {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.dificult div {
    height: 80%;
    width: 10px;
    border: 1px solid var(--texto-secundario);
}

/* boton generador */
.button-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.button-generator button {
    background-color: var(--verde-principal);
    cursor: pointer;
    width: 100%;
    padding-block: 1rem;
    border: none;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.button-generator button i {
    transition: transform 0.3s ease;
}

.button-generator button:hover i {
    transform: translateX(8px);
}

.button-generator button:hover {
    background-color: var(--verde-oscuro);
}